ul{
    list-style-type:none;
}
.travelBlock{
    list-style-type:none;
    width:100;
    top:50%;
    margin-left:auto;
    margin-right: auto;
    position:absolute;
}
.photoBlock{
    list-style-type:none;
    width:100;
    top:50%;
    margin-left:auto;
    margin-right: auto;
    position:absolute;
}
.destBlock{
    list-style-type:none;
    width:100;
    top:50%;
    margin-left:auto;
    margin-right: auto;
    position:absolute;
}
