ul{
    list-style-type:none;
}
li{
    list-style-type:none;
    padding: 15px 15px;
    border-radius: 10%;
    font-family: 'Roboto', 'Times New Roman', serif;
    
}
ul input {
text-overflow:inherit;
display:block;
padding:5px 5px;
margin-right:auto;
margin-left:auto;
}
.spawnIn{
    position: absolute;
    color:red;
}
.travelBlock{
    list-style-type:none;
    width: 250px;
    top:5%;
    margin-left: auto;
    margin-right: auto;
    position:absolute;
    background-color: red;
}
.photoBlock{
    list-style-type:none;
    width:100;
    top:5%;
    margin-left:auto;
    margin-right: auto;
    position:absolute;
    background-color: blue;
}
.destBlock{
    list-style-type:none;
    width:100;
    top:5%;
    margin-left:auto;
    margin-right: auto;
    position:absolute;
    background-color: green;
}
.mealBlock{
    list-style-type:none;
    width:100;
    top:5%;
    margin-left:auto;
    margin-right: auto;
    position:absolute;
    background-color: yellow;
}
.restBlock{
    list-style-type:none;
    width:100;
    top:5%;
    margin-left:auto;
    margin-right: auto;
    position:absolute;
    background-color: orange; 
}
.rentBlock{
    list-style-type:none;
    width:100;
    top:5%;
    margin-left:auto;
    margin-right: auto;
    position:absolute;
    background-color: purple;  
}
