ul{
    list-style-type:none;
}
.travelBlock{
    list-style-type:none;
    width:100;
    top:50%;
    margin-left:auto;
    margin-right: auto;
    position:absolute;
    background-color: red;
    
   
}

.photoBlock{
    list-style-type:none;
    width:100;
    top:50%;
    margin-left:auto;
    margin-right: auto;
    position:absolute;
    background-color: blue;
}
.destBlock{
    list-style-type:none;
    width:100;
    top:50%;
    margin-left:auto;
    margin-right: auto;
    position:absolute;
    background-color: green;
}
